body
{background-color:aqua;
    /*background-color: rgb(59, 233, 233);
    background-image: url(monkeycoffee.jpg);
    background-image: linear-gradient(pink,grey);
    background-image: radial-gradient(orange,green);
*/
    }

    nav
    {
        background-color: rgb(0, 0, 0);
        color: green;
        border: 2px black;

    }

    footer
    {
        background-color: rgb(10, 243, 49);
        font-size: 60px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-weight: 200;
        text-emphasis: filled color;
        text-decoration: underline;
        text-decoration-color: rgb(227, 243, 7);


        border: 2px solid black
        border-bottom-left-radius; 
    }